<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <center>
            <h1>{{data|capfirst}}<h1>
            <h2>{{data|upper}}</h2>
            <h2>{{data|lower}}</h2>
            <h2>{{data|title}}</h2>
            <h2>{{data|length}}</h2>
           <h2> {{data|truncatewords:'1'}}</h2>
           <h2> {{data|truncatechars:'4'}}</h2>
           <h2> {{data|slice:'4'}}</h2>
           <h2> {{dt|date:'y m d'}}</h2>
        </center>

        <script src="" async defer></script>
    </body>
</html>